# LATIHAN 2

In [1]:
nama_user = input("masukkan nama user :")

print("halo, ",nama_user)

masukkan nama user :Danu Tirta Gunx rupawan
halo,  Danu Tirta Gunx rupawan

# LATIHAN 3

In [2]:
panjang = float(input("masukkan panjang :"))
lebar = float(input("masukkan lebar :"))

luas = panjang*lebar

print(luas,"m2")

masukkan panjang :14
masukkan lebar :5
70.0 m2

# LATIHAN 4

In [3]:
n = int(input("masukkan nilai n :"))

sum = (n)*(n+1)/2

print(sum)

masukkan nilai n :13
91.0

# LATIHAN 5

In [4]:
kaki = float(input("masukkan tinggi dalam kaki :"))
inci = 12*kaki
centimeter = 2.54*inci

print(centimeter,"cm")

masukkan tinggi dalam kaki :5.3
161.54399999999998 cm

# LATIHAN 6

In [5]:
feet = float(input("masukkan jarak dalam feet :"))
inch = 12*feet
yard = 0.33333*feet
mil = 0.00018939*feet

print("inchi\t:",inch,"\nyard\t:",yard,"\nmil\t:",mil)

masukkan jarak dalam feet :14.2
inchi	: 170.39999999999998
yard	: 4.733286
mil	: 0.002689338

# LATIHAN 7

In [6]:
a = float(input("masukkan panjang alas :"))
t = float(input("masukkan tinggi segitiga :"))

area = (a*t)/2

print("jadi luas segitiga adalah : ",area,"m2")

masukkan panjang alas :14
masukkan tinggi segitiga :7
jadi luas segitiga adalah :  49.0 m2

# LATIHAN 8

In [7]:
weight = float(input("masukkan berat (kg) :"))
height = float(input("masukkan tinggi (m) :"))

BMI = weight/(height*height)

print (BMI)

masukkan berat (kg) :55.3
masukkan tinggi (m) :162.5
0.0020942011834319527

# LATIHAN 9

In [9]:
m= float(input("masukkan massa (kg) :"))
A = float(input("masukkan luas permukkan (m2) :"))
g = 9.80665

p = m*g/A

kilopascal = p/1000 
psi = 0.145038*kilopascal
mmhg = 7.50062*kilopascal
atm = 0.00986923*kilopascal

print("pound per inci persegi\t:",psi,"psi","\nmilimeter merkuri\t:",mmhg,"mmhg","\natmosfer\t\t:",atm,"atm")

masukkan massa (kg) :8
masukkan luas permukkan (m2) :2
pound per inci persegi	: 0.0056893476108 psi
milimeter merkuri	: 0.29422382049199997 mmhg
atmosfer		: 0.000387136337518 atm